@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Merriweather;
}

/* Banner section starts form here */

.banner-container {
    width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    border: 2px solid black;
    border-radius: 16px;
    margin-top: 50px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%, transparent),
        url("../assets/images/Banner\ Image.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 16px;

}

/* .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */
.banner-content {
    color: white;
    text-align: center;
    margin-top: 177px;

}

.new-year {
    font-size: 32px;
    font-weight: 400;
}

.celebration {
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

/* 65% off section style */
div {
    font-family: Inter;
    text-align: center;
    margin-top: 120px;
}

h1 {
    color: red;
    font-size: 88px;
    font-weight: 700;
}

h4 {
    color: red;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 48px;
}

.offer-section{
    margin-bottom: 120px;
}

/* Midnight-party section style */

.midnight-party {
    width: 1320px;
    height: 600px;
    /* border: 2px solid red; */
    margin: 0 auto;
    background-image: url("../assets/images/Vectorrr.png");
    display: flex;
    gap: 40px;
}

.leftside-content{
    width: 50%;
    
}

.rightside-content{
    width: 50%;
    
}
.midnight-invitation{
    color: white;
    margin-left: 126px;
    text-align: left;
    font-size: 64px;
    font-weight: 900;
}

.midnight-description{
    color: white;
    margin-left: 126px;
    text-align: left;
}
.join-now{
    color: white;
    font-size: 20px;
    font-weight: 700;
    margin-left: 158px;
}
img{
    height: 464px;
}